#heading-wrapper {
    width: 500px;
    height: 40px;
    position: absolute;
    top: 708px;
    left: 102px;
}

#heading-text {
    width: 563px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 37.34px;
    font-weight: 700;
    line-height: 40px;
    white-space: nowrap;
}

#description {
    width: 620px;
    height: 120px;
    position: absolute;
    top: 783px;
    left: 106px;
    font-family: "Poppins", sans-serif;
    font-size: 17.16px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
}

#signup-button {
    width: 317px;
    height: 54px;
    position: absolute;
    top: 940px;
    left: 102px;
    border: 1px solid #00732F;
    border-radius: 5px;
    background-color: #00732F;
}

#signup-button.clicked {}

#signup-button span {
    width: 203.56px;
    /* position: absolute;
    top: 19px;
    left: 43px; */
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: dissolve 300ms ease-out forwards;
}

@keyframes dissolve {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#cities-container {
    width: 541px;
    height: 244px;
    position: absolute;
    top: 723px;
    left: 872px;
    /* border: 1px solid #E7760D;
    border-radius: 5px; */
    background-color: #FFFFFF;
}